@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151517;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}

.title {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #7b25e3;
}

.fa-brands {
  margin-right: 10px;
}

/* Controls */

.controls-container {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.btn {
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  height: 50px;
  margin-right: 5px;
}

.btn:hover {
  background-color: #7b25e3;
  transition: all 0.2s;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}

.coin-search {
  position: sticky;
  top: 20px;
  height: 50px;
  margin-bottom: 30px;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  /* margin-left: 40px; */
  padding-left: 30px;
  width: 500px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -200deg,
    #b53feb 0%,
    #7b25e3 50%,
    #4200ea 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #dcdbdba7;
}

/* Header component */
.headers {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  width: 1300px;
}

.headers div {
  font-weight: 900;
}

.fa-solid {
  margin-left: 5px;
}

.fa-solid:hover {
  cursor: pointer;
}

/* Coin component */
.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d75d;
  width: 1300px;
}

.sparkline {
  margin-left: 20px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 170px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 800px;
}

.coin-price {
  width: 120px;
}

.coin-volume {
  width: 190px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media only screen and (max-device-width: 1000px) {
  .headers {
    width: 80vw;
  }

  .title {
    font-size: 30px;
  }

  .controls-container {
    width: 80vw;
  }

  .coin-input {
    width: 80vw;
  }

  .coin-row {
    width: 80vw;
    justify-content: space-between;
  }

  .coin-data {
    justify-content: right;
  }

  .coin-price {
    margin-left: 10vw;
  }

  .coin {
    min-width: 100px;
  }
}
